#grid-container {
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-colums: 1fr 1fr 1fr;
    grid-template-areas:
    "image1 image1 image1 work1 work1 work1"
    "image2 image2 image2 work2 work2 work2"
    "image3 image3 image3 work3 work3 work3"
    ;
}

#grid-container {
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-colums: 1fr;
    grid-template-areas:
    "image1"
    "work1"
    "image2"
    "work2"
    "image3"
    "work3"
    ;
}